<html lang="zh_CN">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Hello report.</title>
</head>
<body>
<h1 data-th-text="${hello}">Hello report.</h1>
<br/>
<table>
    <thead>
    <tr>
        <th>id</th>
        <th>信息</th>
        <th>日期</th>
        <th>图片</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="hel : ${hellos}">
        <th data-th-text="${hel.id}">id</th>
        <th data-th-text="${hel.hello}">message</th>
        <th data-th-text="${#dates.format(hel.date, 'yyyy-MM-dd HH:mm')}">date</th>
        <th>
            <img src=""
                 data-th-src="${base64Image}"
                 data-th-title="'title_' + ${hel.hello}" title="title"
                 data-th-alt="'title_' + ${hel.hello}" alt="alt"
                 width="80px"
                 height="60px"/>
        </th>
    </tr>
    </tbody>
</table>
</body>
</html>